@import "tailwindcss";

:root {
  /* Colors */
  --neutral: #ffffff;

  --primary: #2a85ff;
  --primary-foreground: #ffffffeb;

  --secondary: #5b6670;
  --secondary-foreground: #ffffffeb;

  --background: #f5f5f5;
  --foreground: #1e1e1e;

  --muted: #f3f3f3;
  --muted-foreground: #828791;
    
  --card: #ffffff;
  --card-foreground: var(--foreground);

  --danger: #dc2626;
  --danger-foreground: #ffffff;

  --success: #16a34a;
  --success-foreground: #ffffff;

  --warning: #f59e0b;
  --warning-foreground: var(--foreground);

  --info: #2563eb;
  --info-foreground: #ffffff;

  --input: #fafafa;
  --input-border: #d3d3d3;

  --border: #e3e1e1;

  /* Radius */
  --radius: 0.5rem;

  /* Spacing */
  --spacing: 0.25rem;
}

@theme inline {
  /* ---------------- Colors ---------------- */
  --color-neutral: var(--neutral);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-input: var(--input);
  --color-input-border: var(--input-border);

  --color-border: var(--border);

  /* ---------------- Radius ---------------- */
  --radius-sm: calc(var(--radius) + 2px);
  --radius-md: calc(var(--radius) + 4px);
  --radius-lg: calc(var(--radius) + 8px);
  --radius-xl: calc(var(--radius) + 12px);
  --radius-2xl: calc(var(--radius) + 16px);
  --radius-full: 9999px;
}

::-webkit-scrollbar {
  @apply w-2 opacity-0 transition-all;
}

::-webkit-scrollbar-track {
  @apply bg-transparent rounded-xl my-4 transition-all;
}

.scroll-container:hover::-webkit-scrollbar {
  @apply opacity-100 transition-all;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  @apply bg-foreground/20 hover:bg-foreground/40 active:bg-foreground/60 rounded-xl transition-all;
}
